<form (ngSubmit)="findMessage()" class="find-message">
    <div class="outer-form">
        <div class="form-control message-id">
            <label for="messageId">Message ID</label>
            <input type="text" name="message id" [(ngModel)]="messageId" id="msg-id" placeholder="Message Id:">
        </div>

        <div class="form-control find-cover">
            <label>Find</label>
            <input type="submit" value="Find" class="btn btn-find">
        </div>
    </div>
</form>


<form (ngSubmit)="onSubmit()" class="decrypt-message">
    <div class="outer-form">
        <div class="form-control text">
            <label for="message">Message</label>
            <textarea name="message" [(ngModel)]="message" id="text" placeholder="Message comes here"></textarea>
        </div>
        <div class="form-control key">
            <label for="key">Key</label>
            <input type="number" name="key" [(ngModel)]="key" id="number" max="26" min="1" placeholder="[1 - 26]">
        </div>
    </div>

    <div class="outer-form2">
        <input type="submit" value="Decrypt" class="btn btn-decrypt" [disabled]='decrypted == true'>
        <input type="submit" value="Delete" class="btn btn-delete" [disabled]='decrypted == false'>
    </div>
</form>