<form (ngSubmit)="onSubmit()" class="add-message">
    <div class="outer-form">
        <div class="form-control text">
            <label for="message">Message</label>
            <textarea name="message" [(ngModel)]="message" id="text" placeholder="Add message"></textarea>
        </div>
        <div class="keys">
            <div class="form-control key key-1">
                <label for="key-1">Key 1</label>
                <input type="number" name="key-1" [(ngModel)]="key_1" id="number" min="1" placeholder="[1-100]">
            </div>
            <div class="form-control key key-2" *ngIf="keys == 2 || keys == 3">
                <label for="key-2">Key 2</label>
                <input type="number" name="key-2" [(ngModel)]="key_2" id="number" min="0" placeholder="[1-100]">
            </div>
            <div class="form-control key key-3" *ngIf="keys == 3">
                <label for="key-3">Key 3</label>
                <input type="number" name="key-3" [(ngModel)]="key_3" id="number" min="0" placeholder="[1-100]">
            </div>
        </div>
    </div>

    <div class="outer-form2">
        <input type="submit" value="Encrypt" [disabled]='encrypted == true' class="btn btn-encrypt">
        <input type="submit" value="Save" [disabled]='encrypted == false' class="btn btn-save">

        <div class="btn new-message" *ngIf="tryAgain" (click)="encryptAgain()">Encrypt New Message</div>
    </div>

</form>