<div class="container">
    <h2 class="keys-heading">How many keys would you like to use:</h2>
    <div class="aantal-keys">
        <button (click)="setKey(1)" [ngClass]="keys == 1 ? 'active' : '' ">1 Key</button>
        <button (click)="setKey(2)" [ngClass]="keys == 2 ? 'active' : '' ">2 Keys</button>
        <button (click)="setKey(3)" [ngClass]="keys == 3 ? 'active' : '' ">3 Keys</button>
    </div>
    <!-- <h2 class="enter-message">Enter your message in the box below</h2> -->
    <app-add-message [keys]="keys"></app-add-message>

    <p class="encrypt-info">When you save the encrypted message to our database, be sure to hold on to the message id
        you
        wil receive. This is
        the only way for the receiver to recover your message. Dont forget to also give them the corresponding key(s).
    </p>
</div>