<footer>
    <div class="container">
        <div class="site-links">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a routerLink="/encrypt" routerLinkActive="active">Encrypt</a>
            <a routerLink="/decrypt" routerLinkActive="active">Decrypt</a>
        </div>
        <h4 class="created-by">Created by: B. Egers</h4>
        <div class="social-links">
            <a href="https://github.com/Ben484Egers" target="_blank" class="link github-link">
                <div class="icon">
                    <img src="./../../../assets/Vectorgithub.png" />
                </div>
                <p>Ben484Egers</p>
            </a>
            <a href="https://www.linkedin.com/in/benjamin-egers-370b8a21b/" target="_blank" class="link linked-in-link">
                <div class="icon">
                    <img src="./../../../assets/Vector.png" />
                </div>
                <p>Ben Egers</p>
            </a>
        </div>
    </div>
</footer>